version: "3.8"

services:
  # Container ตัวที่ 1: แอพ Node.js ของคุณ
  api:
    build: . # สั่งให้ build จาก Dockerfile ที่อยู่ในโฟลเดอร์ปัจจุบัน
    ports:
      - "3000:3000" # map port ออกมา
    environment:
      - DB_HOST=db # <--- จุดสำคัญ! (ดูคำอธิบายด้านล่าง)
      - DB_USER=dev_user
      - DB_PASS=password1234
      - DB_NAME=node_test_api
    depends_on:
      - db # บอกให้รอ database รันขึ้นมาก่อนค่อยรันตัวนี้
  web:
    image: php:8.2-apache
    ports:
      - "80:80" # เข้าเว็บผ่าน localhost:80
    volumes:
      - ./src:/var/www/html # โฟลเดอร์ src ในเครื่องเรา คือที่เก็บโค้ด

  # Container ตัวที่ 2: MySQL Database
  db:
    image: mysql:5.7 # ใช้ image MySQL จาก Docker Hub (เลือกเวอร์ชันได้)
    environment:
      MYSQL_ROOT_PASSWORD: password1234
      MYSQL_DATABASE: node_test_api
    ports:
      - "3306:3306" # map port เผื่อเราจะใช้โปรแกรมในเครื่อง connect เข้าไปดูข้อมูล
    volumes:
      - mysql-data:/var/lib/mysql # สร้างพื้นที่เก็บข้อมูล (ถ้าลบ container ข้อมูลจะไม่หาย)
      - ./mysql/init.sql/init.sql:/docker-entrypoint-initdb.d/init.sql
  # 3. ส่วนจัดการ Database (แทนหน้า phpMyAdmin ใน XAMPP)
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    links:
      - db
    ports:
      - "8080:80" # เข้าจัดการ db ผ่าน localhost:8080
    environment:
      PMA_HOST: db
# ประกาศชื่อ Volume ที่จะใช้เก็บข้อมูล
volumes:
  mysql-data:
